* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
:root {
  --easy-level: green;
  --easy-level-bg: #0080009e;
  --middle-level: #ffa500d9;
  --middle-level-bg: #ffa500a6;
  --hard-level: #0000ff96;
  --trancition_5: all 0.5s linear;
  --trancition_8: all 0.5s linear;
}

body {
  height: 100%;
  background: url("../assets/home.png");
  background-size: cover;
  color: #fff;
}

.main {
  height: 100%;
}
.main__inner {
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

/* ---------------------- Ancients------------------ */
.ancients-container {
  display: flex;
  width: 40%;
}
.ancient-item {
  margin: 0 20px 20px 0;
}
.ancient-img {
  width: 200px;
  height: 260px;
  cursor: pointer;
}
.ancient-img-active {
  border: 3px solid #fff;
}

/* ---------------------- Levels------------------ */
.levels-container {
  opacity: 0;
  transition: all 0.5s linear;
}
.levels-container-active {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: var(--trancition_5);
}
.level-item {
  width: 150px;
  padding: 8px 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--trancition_5);
}

.level-item:nth-child(1) {
  border: 3px solid var(--easy-level);
}
.level-item:hover:nth-child(1) {
  background-color: #0080009e;
}

.level-item:nth-child(2) {
  border: 3px solid var(--easy-level);
}
.level-item:hover:nth-child(2) {
  background-color: #0080009e;
}

.level-item:nth-child(3) {
  border: 3px solid var(--middle-level);
}
.level-item:hover:nth-child(3) {
  background-color: #ffa500a6;
}

.level-item:nth-child(4) {
  border: 3px solid var(--hard-level);
}
.level-item:hover:nth-child(4) {
  background-color: var(--hard-level);
}

.level-item:nth-child(5) {
  border: 3px solid var(--hard-level);
}
.level-item:hover:nth-child(5) {
  background-color: var(--hard-level);
}

/* ---------- Btn Mix carts --------------------------*/
.mix-btn-container {
  display: none;
}
.btn-container-active {
  display: flex;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-right: 150px; */
}
.mix-btn {
  padding: 8px 25px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: rgb(0 0 0 / 0);
  border-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--trancition_8);
}
.mix-btn:hover {
  background-color: rgb(255 255 255 / 0.2);
}
.mix-btn-active1,
.mix-btn-active2 {
  background-color: var(--easy-level-bg);
}
.mix-btn-active3 {
  background-color: var(--middle-level-bg);
}
.mix-btn-active4,
.mix-btn-active5 {
  background-color: var(--hard-level);
}

/* ----------  Mixing cards ----------- */
.mixing-cards-container {
  display: none;
}
.mixing-active {
  display: flex;
  height: 100%;
  margin-right: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}
.stages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stage-name {
  letter-spacing: 1px;
  font-family: Arial, sans-serif;
}
.stage-item {
  display: flex;
}
.counter {
  width: 30px;
  height: 30px;
  margin: 10px 10px 15px 10px;
  border-radius: 50px;
  text-align: center;
  line-height: 2;
}
.counter-first {
  background-color: var(--easy-level);
}
.counter-second {
  background-color: var(--middle-level);
}
.counter-third {
  background-color: var(--hard-level);
}
.desc {
  display: flex;
  padding-bottom: 20px;
}
.desc-bg {
  position: relative;
  z-index: 1;
  display: flex;
  width: 130px;
  height: 190px;
  cursor: pointer;
  opacity: 1;
}
.desc-bg-hide {
  opacity: 0;
  z-index: -1;
}
.desc-bg:first-child {
  margin-right: 50px;
}
.desc-front {
  width: 130px;
  height: 190px;
  cursor: pointer;
  background-size: contain;
  /* background-image: url("../assets/MythicCards/green/green1.png"); */
}
